# Compiled class files
*.class

# Output directories
*/bin/
*/out/

# IntelliJ IDEA
*/.idea/workspace.xml
*/.idea/tasks.xml
*/.idea/usage.statistics.xml
*/.idea/dictionaries/
*/.idea/shelf/

# Log files
*.log
